body {
    background-color: lightgrey;
}

input[type=button] {
    /* padding: 25px; */
    width: 100px;
    height: 100px;
    /* margin: 2px; */
    
}

input[type=text] {
    padding: 10px;
    margin: 5px;
    width: 388px;
    margin: 0px;
    text-align: right;
}

#calculator {
     width: 440px;
     margin-top: 100px;
}

.center {
    margin: auto;
    width: 50%;
}

.function {
    background-color: #e7c99a;
}

#history {
    /* background-color: #fff6ed; */
    /* border-bottom: none; */
}

#display {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 2px;
}

.operator {
    background-color: #97bac7;
}